// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: rgb(108, 48, 211);
  &:hover {
    color: $primary; // 10%
  }
}

.text-primary {
  color: rgb(255, 0, 140) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: rgb(255, 0, 0); //$primary
  text-shadow: none;
}

::selection {
  background: rgb(0, 170, 255); //$primary
  text-shadow: none;
}

img::selection {
  background: rgb(0, 250, 0);
}

img::-moz-selection {
  background: rgb(0, 212, 250);
}
